@model Student
@{
    ViewData["Title"] = "Details Student";
}

<div class="row">
    <div class="col-md-10 offset-1">
        <p>
            <h4>Detail for @Model.Name</h4>
        </p>
        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" readonly />
                </div>
                <div class="mb-3">
                    <label asp-for="Prodi" class="form-label"></label>
                    <input asp-for="Prodi" class="form-control" readonly />
                </div>
                <div class="mb-3">
                    <label asp-for="Address" class="form-label"></label>
                    <input asp-for="Address" class="form-control" readonly />
                </div>
                <div class="mb-3">
                    <a asp-action="Index" class="btn btn-outline-secondary">Show All</a>
                </div>
            </div>
        </div>
    </div>
</div>